@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.slide-in {
    animation: slideIn 400ms;
    animation-timing-function: cubic-bezier(0.7, 0.1, 0.75, 0.9);
}

.slide-out {
    animation: slideOut 400ms;
    animation-timing-function: cubic-bezier(0.7, 0.1, 0.75, 0.9);
}
